<div class="card-body">
  <form novalidate
        #projectForm="ngForm">
    <fieldset>
      <legend>Project Information</legend>

      <div class="form-group row">
        <label class="col-md-2 col-form-label"
               for="projectName">Project Name</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="projectName"
                 type="text"
                 placeholder="Name (required)"
                 required
                 minlength="3"
                 [(ngModel)]=project.name
                 name="projectName"
                 #projectNameVar="ngModel"
                 [ngClass]="{'is-invalid': (projectNameVar.touched || projectNameVar.dirty) && 
                                            !projectNameVar.valid }" />
          <span class="invalid-feedback">
            <span *ngIf="projectNameVar.errors?.required">
              Project name is required.
            </span>
            <span *ngIf="projectNameVar.errors?.minlength">
              Project name must be at least three characters.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-2 col-form-label"
               for="projectRepo">Project Repository</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="projectRepo"
                 type="text"
                 placeholder="Repository (required)"
                 required
                 [(ngModel)]=project.repo
                 name="projectRepo"
                 #projectRepoVar="ngModel"
                 [ngClass]="{'is-invalid': (projectRepoVar.touched || 
                                             projectRepoVar.dirty 
                                            ) &&
                                            !projectRepoVar.valid }" />
          <span class="invalid-feedback">
            <span *ngIf="projectRepoVar.errors?.required">
              Product code is required.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-2 col-form-label"
               for="descriptionId">Description (required)</label>
        <div class="col-md-8">
          <textarea class="form-control"
                    required
                    id="descriptionId"
                    placeholder="Description"
                    rows=3
                    [(ngModel)]=project.description
                    name="description"></textarea>
        </div>
      </div>
    </fieldset>
  </form>






  <div class='alert alert-danger'
       *ngIf='errorMessage'>{{errorMessage}}
  </div>




  <div class="row mb-2">
    <div class="col-md-4">
      <button class="btn btn-primary mr-3"
              style="width:80px"
              type="button"
              [title]="isValid() ? 'Save your entered data' : 'Disabled until the form data is valid'"
              [disabled]="!isValid()"
              (click)="saveProject()">
        Next
      </button>
      <button class="btn btn-outline-secondary mr-3"
              style="width:80px"
              type="button"
              title="Cancel your edits"
              [routerLink]="['/projects']">
        Cancel
      </button>
    </div>