<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body"
       *ngIf="project">
    <div class="wizard">
      <a [routerLink]="['info']"
         routerLinkActive="active">
        Project Information
      </a>
      <a [routerLink]="['tags']"
         routerLinkActive="active">
        Team Members
      </a>
    </div>

    <router-outlet></router-outlet>

  </div>
</div>


<div class="alert alert-danger"
     *ngIf="errorMessage">{{errorMessage}}
</div>