<div class="card-body">
  <form [formGroup]="form"
        (ngSubmit)="save()"
        (reset)="resetForm()">
    <fieldset>
      <legend>Team Members</legend>


      <div class="form-group row">


        <ng-multiselect-dropdown #multiSelect
                                 [placeholder]="'Select team members'"
                                 [data]="usersDropDownList"
                                 [settings]="dropdownSettings"
                                 [formControl]="f.users">
        </ng-multiselect-dropdown>



        <span class="invalid-feedback">
          <span *ngIf="f?.users?.errors?.required"
                style="color: red;">
            Team members are required
          </span>
        </span>
      </div>

    </fieldset>
  </form>
</div>

<div class="row mb-2">
  <div class="col-md-4">
    <button class="btn btn-primary mr-3"
            style="width:80px"
            type="button"
            [title]="isValid() ? 'Save your entered data' : 'Disabled until the form data is valid'"
            [disabled]="!isValid()"
            (click)="save()">
      Save
    </button>
    
  </div>

