<span class="fa fa-spinner spinner"
      *ngIf="loading"></span>

<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand">{{pageTitle}}</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link"
         [routerLink]="['/welcome']"
         routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"

         routerLinkActive="active"
         [routerLink]="['/projects/developer']"
         >Developer Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
      routerLinkActive="active"
      [routerLink]="['/projects/testing']"
         >Testing Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  
      routerLinkActive="active"
      [routerLink]="['/projects']">All projects</a>

    </li>
    <li class="nav-item">
      <a class="nav-link"
         [routerLink]="['/projects', 0, 'edit']"
         routerLinkActive="active">Add Project</a>
    </li>
  </ul>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item"
        *ngIf="isLoggedIn">
      <a class="nav-link"
         [routerLink]="['/welcome']">Welcome {{ userName }}</a>
    </li>

    <li class="nav-item"
    *ngIf="!isLoggedIn">
  <a class="nav-link"
     [routerLink]="['/register']">Register</a>
</li>

    <li class="nav-item"
        *ngIf="!isLoggedIn">
      <a class="nav-link"
         [routerLink]="['/login']">Log In</a>
    </li>
    <li class="nav-item"
        *ngIf="isLoggedIn">
      <a class="nav-link"
         (click)="logOut()">Log Out</a>
    </li>
  </ul>
</nav>

<div class="container" [@slideInAnimation]="o.isActivated ? o.activatedRoute : ''">
  <div class="row">
    <div class="col-md-10">
        
      <router-outlet #o="outlet"></router-outlet>
    </div>
    <div class="col-md-2">
      <router-outlet name="popup"></router-outlet>
    </div>
  </div>
</div>