<div class="card">
    <div class="card-header"
    *ngIf="bug">
      {{pageTitle}}
    </div>
  
    <div class="card-body"
         *ngIf="bug">
  
      <div class="row">
  
        <div class="col-md-8" *ngIf="bug">
          <div class="row">
            <div class="col-md-3">Description:</div>
            <div class="col-md-6">{{bug.description}}</div>
          </div>
          
       
          <div class="row">
            <div class="col-md-3">Severity:</div>
            <div class="col-md-6">{{bug.severity}}</div>
          </div>
          <div class="row">
            <div class="col-md-3">Link Repo:</div>
            <div class="col-md-6">{{bug.link}}</div>
          </div><div class="row">
            <div class="col-md-3">Project Id:</div>
            <div class="col-md-6">{{bug.projectId}}</div>
          </div><div class="row">
            <div class="col-md-3">Assigned To:</div>
            <div class="col-md-6" *ngIf="bug.assignedTo">{{bug.assignedTo}}</div>
          </div><div class="row">
            <div class="col-md-3" *ngIf="user_who_reported_bug" >Reported By:</div>
            <div class="col-md-6" >{{user_who_reported_bug.email}}</div>
          </div>
          <div class="row">
            <div class="col-md-3">Status:</div>
            <div class="col-md-6">{{bug.status}}</div>
          </div>
          <div class="row" *ngIf="!bug.assignedTo">
            <button (click)="seteazaassignedTo()">Vreau sa testez</button>
          </div>
          
          
         
        </div>
  
        
      </div>
  
        
    </div>
    
  
  
  <div class="alert alert-danger"
       *ngIf="errorMessage">{{errorMessage}}
  </div>
</div>