<div class="card">
    <div class="card-header"
    *ngIf="project">
      {{pageTitle}}
    </div>
  
    <div class="card-body"
         *ngIf="project">
  
      <div class="row">
  
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-3">Name:</div>
            <div class="col-md-6">{{project.name}}</div>
          </div>
          
          <div class="row">
            <div class="col-md-3">Description:</div>
            <div class="col-md-6">{{project.description}}</div>
          </div>
          <div class="row">
            <div class="col-md-3">Repo:</div>
            <div class="col-md-6">{{project.repo}}</div>
          </div>
          <div class="row">
            <button>Add Bug</button>
            <button (click)="adauga_tester()">Adauga-ma tester</button>
          </div>
          
          
          
         
        </div>
  
        
      </div>
  
        
    </div>
    <div class="table-responsive">
      <table class="table mb-0"
             *ngIf="bugs && bugs.length">
        <thead>
          <tr>
            
            <th>Bug</th>
            <th>Reported By</th>
            <th>Repository</th>
            <th>Assigned</th>
      
          </tr>
        </thead>
        <tbody>
          
          
          <tr *ngFor="let bug of bugs">
            
            <td>
              <a [routerLink]="[bug.id]"
                 >
                {{ bug.description}}
              </a>
            </td>
            <td> {{ bug.reportedBy}}</td>
            <td>{{ bug.link }}</td>
            <td>
                  
             </td>
     
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="alert alert-danger"
       *ngIf="errorMessage">{{errorMessage}}
  </div>