<div class="card">
    <div class="card-header">
      {{pageTitle}}
    </div>
  
    <div class="card-body">
      <div class="row">
        <div class="col-md-2">Filter by:</div>
        <div class="col-md-4">
          <input type="text"
                 [(ngModel)]="listFilter" />
        </div>
      </div>
      <div class="row"
           *ngIf="listFilter">
        <div class="col-md-6">
          <h4>Filtered by: {{listFilter}}</h4>
        </div>
      </div>
  
      <div class="table-responsive">
        <table class="table mb-0"
               *ngIf="projects && projects.length">
          <thead>
            <tr>
              
              <th>Project</th>
              <th>Description</th>
              <th>Repository</th>
        
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let project of filteredProjects">
              
              <td>
                <a [routerLink]="[project.id]"
                
                   >
                  {{ project.name }}
                </a>
              </td>
              <td>{{ project.description }}</td>
              <td>{{ project.repo }}</td>
            </tr>
          </tbody>
        </table>
      </div>
  
    </div>
  </div>
  
  <div *ngIf="errorMessage"
       class="alert alert-danger">
    Error: {{ errorMessage }}
  </div>